<div class="container">
  <div>
    <form class="grade-container" [formGroup]="gradeGroup">
      <h1 class="header">{{student.firstName}} {{student.lastName}}</h1>
      <br>
      <h3 class="text">Wybierz typ oceny: </h3>
      <mat-radio-group class="exam-radio-group" formControlName="type">
      <span *ngIf="type == 'Sprawdzian'">
          <mat-radio-button value="Sprawdzian" checked="true" class="exam-radio-button">
            Sprawdzian
          </mat-radio-button>
      </span>
        <span *ngIf="type == 'Praca domowa'">
          <mat-radio-button value="Praca domowa" checked="true" class="exam-radio-button">
            Praca domowa
          </mat-radio-button>
      </span>

        <span *ngIf="type == '' || !type">
         <mat-radio-button value="Sprawdzian" class="exam-radio-button">
        Sprawdzian
         </mat-radio-button>
      <br>
      <mat-radio-button value="Odpowiedź ustna" class="exam-radio-button">
       Odpowiedź ustna
      </mat-radio-button>
      <br>
      <mat-radio-button value="Aktywność" class="exam-radio-button">
        Aktywność
      </mat-radio-button>
      <br>
      <mat-radio-button value="Kartkówka" class="exam-radio-button">
        Kartkówka
      </mat-radio-button>
      <br>
      <mat-radio-button value="Praca domowa" class="exam-radio-button">
        Praca domowa
      </mat-radio-button>
      <br>
      <mat-radio-button  value="Projekt" class="exam-radio-button">
        Projekt
      </mat-radio-button>
      </span>
      </mat-radio-group>

      <br>
      <br>

      <h3 style="float:left;" class="text">Wpisz ocenę: </h3>
      <input #grade (change)="updateValue(grade)" formControlName="grade" max="5" min="1" type="number">


      <!--      <mat-radio-button [value]="answer.id" class="exam-radio-button">-->
      <!--        {{answer.content}}-->
      <!--      </mat-radio-button>-->
      <!--      <input type="text" formControlName="type" required>-->
      <br>
      <h3 class="text">Podaj opis oceny: </h3>
      <textarea formControlName="description"></textarea>
      <br>
      <br><br>
      <div>
        <button mat-button class="add-button" (click)="addGrade()">Dodaj ocenę</button>
      </div>
    </form>
  </div>
</div>


















