<form *ngIf="!examBasicInformationSet" [formGroup]="examGroup">
  Podaj nazwę testu:
  <input type="text" formControlName="name" required>

  Podaj ilość pytań:
  <input type="number" formControlName="amountOfQuestions" required>

  <button (click)="addExam()">Stwórz test</button>
</form>

<div *ngIf="examBasicInformationSet">
  <h4>Test: {{examGroup.value.name}}</h4>
</div>


<div *ngFor="let questionGroup of questionGroups; let q = index">

  <form [formGroup]="questionGroup">

    <h5>Pytanie {{q + 1}}:</h5>

    <input type="text" formControlName="content" required>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Typ pytania</mat-label>
      <mat-select disableRipple formControlName="type">
        <mat-option value="one-choice">Jednokrotnego wyboru</mat-option>
        <mat-option value="multi-choice">Wielokrotnego wyboru</mat-option>
        <mat-option value="open">Otwarte</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    Podaj ilość odpowiedzi:
    <input type="number" formControlName="amountOfAnswers">

    <button (click)="addQuestion(q)">Stwórz pytanie</button>

    <div *ngFor="let answerGroup of answersGroups.get(q); let a=index">
      <form [formGroup]="answerGroup">
        Odpowiedź {{a + 1}}:
        <div *ngIf="questionGroup.value.type=='multi-choice'">
          <input type="text" formControlName="content">
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Prawidłowa TAK/NIE:</mat-label>
            <mat-select disableRipple formControlName="correct">
              <mat-option value="true">TAK</mat-option>
              <mat-option value="false">NIE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
    <hr>
  </form>
</div>
<button (click)="saveExam()">Zapisz Test</button>
