.container{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 30%;
  margin: auto;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(91, 91, 96, 0.85);
}

.login-container{
  align-self: center;
  margin: 0 20%;
}

.header{
  text-align: center;
  /*color: #481979;*/
  font-weight: bold;
  font-family: Arial;
  color: rgba(91, 91, 96, 0.85);
}

input {
  width: 90%;
  /*margin-left: 35%;*/
  /*margin-right: 35%;*/
  display: block;
  margin: auto;
  height: 30px;
  border-radius: 5px;
  border-color: rgba(91, 91, 96, 0.85);
  border-top: 2px solid rgba(91, 91, 96, 0.85);
  border-left: 2px solid rgba(91, 91, 96, 0.85);
}

input:focus{
  outline: none !important;
  border:2px solid #e3bf32;
  box-shadow: 0 0 10px #e3bf32;

}

.login-button{
  background-color: #e3bf32;
  display: block;
  margin: 0 auto;
  color: white;
}

.login-button:hover{
  box-shadow: 0 0 10px #e3bf32;
}

.text{
  margin-left: 5%;
  margin-bottom: 0;
  color: rgba(91, 91, 96, 0.85);
}




