<mat-grid-list class="header-container" cols="{{getHeaderAmountOfColumnsInGrid()}}" rowHeight="{{getHeaderRowHeightInGrid()}}">
  <mat-grid-tile class="course-name tile" [style.background-color]="'transparent'">FIZYKA</mat-grid-tile>
  <mat-grid-tile class="lesson-number tile" [style.background-color]="'transparent'">Lekcja 79</mat-grid-tile>
  <mat-grid-tile class="buttons-container tile" [style.background-color]="'transparent'">
    <button class="button-option" mat-button routerLink="/lekcja/1/test/">
      <div class="option-name">Test</div>
      <div class="icon-container">
        <mat-icon>school</mat-icon>
      </div>
    </button>
    <button class="button-option" mat-button routerLink="/lekcja/1/materiały">
      <div class="option-name">Materiały</div>
      <div class="icon-container">
        <mat-icon>perm_media</mat-icon>
      </div>
    </button>
    <button class="button-option button-option-tasks" mat-button routerLink="/lekcja/1/zadania">
      <div class="option-name">Zadania</div>
      <div class="icon-container">
        <mat-icon>library_books</mat-icon>
      </div>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<div class="materials-container">


  <div class="lessons-container">
    <mat-grid-list cols="{{desired_columns}}" rowHeight="{{desired_row_height}}" [gutterSize]="'40px'">
      <div>
        <!--        <div *ngFor="let task of tasks">-->
        <mat-grid-tile>
          <div>
            <div class="material-name">Zadanie 1</div>
            <div class="icon-container">
              <button class="button-download" mat-button routerLink="/zadania/1">
                <div class="option-name">Wykonane</div>
                <div class="icon-container">
                  <mat-icon>done</mat-icon>
                </div>
              </button>
            </div>
          </div>
        </mat-grid-tile>
      </div>

      <mat-grid-tile>
        <div>
          <div class="material-name">Zadanie 2</div>
          <div class="icon-container">
            <button class="button-download" mat-button>
              <div class="option-name">Niewykonane</div>
              <div class="icon-container">
                <mat-icon>close</mat-icon>
              </div>
            </button>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div>
          <div class="material-name">Zadanie 3</div>
          <div class="icon-container">
            <button class="button-download" mat-button>
              <div class="option-name">Aktywne do: 12.12.2023</div>
              <div class="icon-container">
                <mat-icon>alarm</mat-icon>
              </div>
            </button>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div>
          <div class="material-name">Zadanie 4</div>
          <div class="icon-container">
            <button class="button-download" mat-button>
              <div class="option-name">Ocenione</div>
              <div class="icon-container">
                <mat-icon>star</mat-icon>
              </div>
            </button>
          </div>
        </div>
      </mat-grid-tile>


      <!--      </div>-->
      <mat-grid-tile>
        <span *ngIf="sessionService.isTeacher()">
        <button class="button-download add-button" mat-button routerLink="/dodaj-zadanie">
          <div class="add-button-name">Dodaj zadanie</div>
          <div><mat-icon class="add-icon">add</mat-icon></div>
        </button>
        </span>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
