<mat-grid-list class="header-container" cols="{{getHeaderAmountOfColumnsInGrid()}}"
               rowHeight="{{getHeaderRowHeightInGrid()}}">
  <button style="background-color: transparent; border: 0px">
    <mat-grid-tile class="course-name tile" [style.background-color]="'transparent'"
                   routerLink="/kursy/{{lesson?.course?.id}}">{{lesson?.course?.name}}</mat-grid-tile>
  </button>
  <mat-grid-tile class="lesson-number tile" [style.background-color]="'transparent'">Lekcja {{lessonId}}</mat-grid-tile>
  <mat-grid-tile class="buttons-container tile" [style.background-color]="'transparent'">
    <button class="button-option" mat-button routerLink="/lekcja/{{lessonId}}/test-opis/">
      <div class="option-name">Test</div>
      <div class="icon-container">
        <mat-icon>school</mat-icon>
      </div>
    </button>
    <button class="button-option" mat-button routerLink="/lekcja/{{lessonId}}/materiały">
      <div class="option-name">Materiały</div>
      <div class="icon-container">
        <mat-icon>perm_media</mat-icon>
      </div>
    </button>
    <button class="button-option button-option-tasks" mat-button routerLink="/lekcja/{{lessonId}}/zadania">
      <div class="option-name">Zadania</div>
      <div class="icon-container">
        <mat-icon>library_books</mat-icon>
      </div>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<div class="materials-container">


  <div class="lesson-container">
    <mat-grid-list cols="{{desired_columns}}" rowHeight="{{desired_row_height}}" [gutterSize]="'40px'">
      <div *ngIf="sessionService.isStudent()">
        <mat-grid-tile *ngFor="let taskStudent of tasksStudent; let i=index ">
          <div>
            <div class="material-name">Zadanie {{i + 1}}</div>
            <div class="icon-container">
              <button class="button-download" mat-button routerLink="/zadania/{{taskStudent.task?.id}}">
                <div *ngIf="taskStudent.status == 'AKTYWNE'" class="option-name">
                  {{taskStudent.status}} DO: {{taskStudent.task?.endDate | date: 'dd.MM.YYYY'}}
                </div>
                <div *ngIf="taskStudent.status != 'AKTYWNE'" class="option-name">
                  {{taskStudent.status}}
                </div>
                <div class="icon-container">
                  <mat-icon>{{taskStudent.icon}}</mat-icon>
                </div>
              </button>
            </div>
          </div>
        </mat-grid-tile>
      </div>

      <div *ngIf="sessionService.isTeacher()">
        <mat-grid-tile *ngFor="let task of tasks; let i=index ">
          <div>
            <div class="material-name">Zadanie {{i + 1}}</div>
            <div class="icon-container">
              <button class="button-download" mat-button routerLink="/zadania/{{task?.id}}">
                <div class="option-name">
                  AKTYWNE DO: {{task?.endDate | date: 'dd.MM.YYYY'}}
                </div>
                <div class="icon-container">
                  <mat-icon>alert</mat-icon>
                </div>
              </button>
            </div>
          </div>
        </mat-grid-tile>
      </div>

      <mat-grid-tile *ngIf="sessionService.isTeacher()">
        <span>
        <button class="button-download add-button" mat-button routerLink="/lekcja/{{lessonId}}/dodaj-zadanie">
          <div class="add-button-name">Dodaj zadanie</div>
          <div><mat-icon class="add-icon">add</mat-icon></div>
        </button>
        </span>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
