<mat-grid-list class="header-container" cols="{{getHeaderAmountOfColumnsInGrid()}}"
               rowHeight="{{getHeaderRowHeightInGrid()}}">
  <button style="background-color: transparent; border: 0px">
    <mat-grid-tile class="course-name tile" [style.background-color]="'transparent'"
                   routerLink="/kursy/{{lesson?.course?.id}}">{{lesson?.course?.name}}</mat-grid-tile>
  </button>
  <mat-grid-tile class="lesson-number tile" [style.background-color]="'transparent'"> </mat-grid-tile>
  <mat-grid-tile class="buttons-container tile" [style.background-color]="'transparent'">
    <button class="button-option button-option-tasks" mat-button routerLink="/lekcja/{{lessonId}}/test-opis/">
      <div class="option-name">Test</div>
      <div class="icon-container">
        <mat-icon>school</mat-icon>
      </div>
    </button>
    <button class="button-option" mat-button routerLink="/lekcja/{{lessonId}}/materiały">
      <div class="option-name">Materiały</div>
      <div class="icon-container">
        <mat-icon>perm_media</mat-icon>
      </div>
    </button>
    <button class="button-option" mat-button routerLink="/lekcja/{{lessonId}}/zadania">
      <div class="option-name">Zadania</div>
      <div class="icon-container">
        <mat-icon>library_books</mat-icon>
      </div>
    </button>
  </mat-grid-tile>
</mat-grid-list>


<div class="container">
  <div *ngIf="response">
      <h1 class="header" matTooltip="{{response.exam?.name}}">Test</h1>
      <br>
      <div style="margin-left: 10%; margin-right: 10%; text-align: center">
        {{description}}
        <hr>
        Test aktywny od <strong>{{response.exam?.startDate | date: 'dd.MM.YYYY HH:mm' }} </strong> do <strong>{{response.exam?.endDate | date: 'dd.MM.YYYY HH:mm' }}</strong>
      </div>

      <br><br>
      <div>
        <button *ngIf="sessionService.isStudent()" [disabled]="isActiveTest()" mat-button class="start-button" routerLink="/lekcja/{{lessonId}}/test">Rozpocznij</button>
        <button *ngIf="sessionService.isTeacher()" mat-button class="start-button" routerLink="/lekcja/{{lessonId}}/test">Pokaż szczegóły</button>
      </div>
  </div>

  <div *ngIf="!response && sessionService.isStudent()">
    <h1 class="header">Brak testu!</h1>
  </div>

  <div *ngIf="!response && sessionService.isTeacher()">
    <h1 class="header">Brak testu!</h1>
    <br>

    <br><br>
    <div>
      <button mat-button class="start-button" routerLink="/lekcja/{{lessonId}}/dodaj-test">Dodaj test</button>
    </div>
  </div>
</div>

