.header-container {
  margin-top: 0;
  margin-left: 50px;
  margin-right: 75px;
  height: 150px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.course-name {
  font-size: 45px;
  font-weight: bold;
  color: rgb(103, 58, 183);
}

.lesson-number {
  font-size: 45px;
  font-weight: bold;
  color: rgb(103, 58, 183);
  padding-left: 50px;
}


.button-option {
  background-color: rgb(103, 58, 183);
  color: white;
  width: 120px;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 20px;
  text-align: center;
  float: right;
}

.button-option:hover {
  background-color: rgb(72, 36, 134);
}

.button-option-tasks {
  background-color: rgb(72, 36, 134) !important;
}

.material-icons {
  font-size: 30px;
  height: 50px;
  width: 50px;
}

.icon-container {
  padding-bottom: 10px;
}

.option-name {
  padding-top: 50px;
  padding-bottom: 5px;
  font-size: 15px;
}

.task-container {
  width: 75%;
  margin: auto;
  height: 500px;
  background-color: rgb(103, 58, 183);
  border-radius: 10px;
  padding: 80px;
  color: white;
}

.task-name {
  text-align: center;
  font-size: 35px;
  margin-bottom: 70px;
}

.task-details {
  font-size: 30px;
  margin-bottom: 40px;
}

/deep/ .mat-expansion-panel {
  background-color: rgb(103, 58, 183) !important;
  box-shadow: none !important;
  height: 100px !important;
}

.mat-expansion-panel-header {
  padding: 0 !important;
  color: white !important;
  font-size: 30px;
  font-weight: normal !important;
  height: 100px;
}

mat-panel-title.mat-expansion-panel-header {
  height: 100px !important;
}

/deep/ .mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: white;
  margin-right: 20px;
}

.mat-expansion-panel-header-title {
  color: white !important
}

.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: white;
}

span.mat-content {
  height: 100px !important;
}


