<div class="header-container row">
  <div class="course-name col-md-4">FIZYKA</div>
<!--  <div class="lesson-number col-md-3">Lekcja</div>-->
  <div class="buttons-container col-md-5">
    <button class="button-option" mat-button routerLink="/lekcja/{{ this.task?.task?.lesson?.id}}/test-opis">
      <div class="option-name">Test</div>
      <div class="icon-container">
        <mat-icon>school</mat-icon>
      </div>
    </button>
    <button class="button-option" mat-button routerLink="/lekcja/{{ this.task?.task?.lesson?.id}}/materiały">
      <div class="option-name">Materiały</div>
      <div class="icon-container">
        <mat-icon>perm_media</mat-icon>
      </div>
    </button>
    <button class="button-option button-option-tasks" mat-button
            routerLink="/lekcja/{{ this.task?.task?.lesson?.id}}/zadania">
      <div class="option-name">Zadania</div>
      <div class="icon-container">
        <mat-icon>library_books</mat-icon>
      </div>
    </button>
  </div>
</div>

<div *ngIf="sessionService.isStudent()" class="task-container">
  <p class="task-name">Zadanie</p>
  <div *ngIf="task?.status != 'OCENIONE'" class="task-details">
    Status zadania: {{task?.status}}
  </div>
  <div *ngIf="task?.status == 'OCENIONE'" class="task-details">
    Status zadania: <strong style="color: green">{{task?.status}}</strong>
    <div *ngIf="task?.status == 'OCENIONE'" class="task-details task-points">
      Ocena: {{task?.taskStudent?.grade?.value}}
    </div>
  </div>

  <div class="task-details">
    Termin oddania: {{task?.task?.endDate  | date: 'dd.MM.YYYY'}}
  </div>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Treść zadania
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="task-description">
        {{task?.task?.description}}
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="sessionService.isStudent()">

    <div *ngIf="task?.status == 'AKTYWNE'  && !task?.task?.lesson?.course?.finished"
         class="task-details file-attachment">
      Dodaj rozwiązanie:
    </div>
    <div *ngIf="task?.status == 'AKTYWNE' && !task?.task?.lesson?.course?.finished" class="file-upload">

      <button mat-mini-fab color="primary" class="upload-btn"
              (click)="fileUpload.click()">
        <mat-icon style="margin-top: 20px">attach_file</mat-icon>
      </button>
      <input type="file" class="file-input"
             (change)="onFileSelected($event)" #fileUpload>

      {{fileName || ""}}
    </div>
  </div>

  <div *ngIf="task?.taskStudent?.status == 'WYKONANE' || task?.taskStudent?.status == 'OCENIONE'"  class="task-details file-attachment">
    Przesłane pliki:
  </div>
  <button *ngIf="task?.taskStudent?.status == 'WYKONANE' || task?.taskStudent?.status == 'OCENIONE'" class="file-button">
    <div style="float: left">
      <mat-icon> attach_file</mat-icon>
    </div>
    <div class="file-name">
      {{task?.taskStudent?.filename}}
    </div>
  </button>
  <div *ngIf="task?.status=='WYKONANE' && checkDate(task) && !task?.task?.lesson?.course?.finished" class="task-option-container">
    <button (click)="deleteTask()" class="button-delete-task" mat-button>Usuń</button>
  </div>

  <div class="task-option-container" *ngIf="!task?.task?.lesson?.course?.finished">
    <button (click)="uploadFile()" [hidden]="formData.get('file') == null" class="create-button" color="accent"
            mat-button>
      Dodaj
    </button>
  </div>

  <div style="clear:both"></div>

  <mat-accordion *ngIf="task?.status=='OCENIONE'">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Komentarz nauczyciela
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="task-description" *ngIf="task?.taskStudent?.grade?.comment != null">
        {{task?.taskStudent?.grade?.comment}}
      </div>
      <div class="task-description" *ngIf="task?.taskStudent?.grade?.comment == null">
        Brak komentarza
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>


<div *ngIf="sessionService.isTeacher()" class="task-container">
  <p class="task-name">Zadanie</p>

  <div class="task-details">
    Termin oddania:
    <span *ngIf="!editFlag">
     {{task?.task?.endDate  | date: 'dd.MM.YYYY'}}
    </span>
    <span *ngIf="editFlag"  style="background-color: #481979; color:white; font-size:27px;width: 500px; min-height: 150px">
    <input style="background-color: #481979; color:white;" (ngModelChange)="taskEndDate = $event" [ngModel]="taskEndDate | date:'yyyy-MM-dd'" matInput type="date"/>
    </span>
  </div>
  <div class="task-details" style="margin-bottom: 20px !important;">
    Treść zadania:
  </div>
  <div class="task-description task-details">
    <span *ngIf="!editFlag">
        {{task?.task?.description}}
    </span>
    <span *ngIf="editFlag" style="width: 800px">
      <textarea style="background-color: #481979; color:white;width: 800px" [(ngModel)]="taskDescription"></textarea>
    </span>
  </div>

  <div *ngIf="task?.taskStudent?.status == 'WYKONANE' || task?.taskStudent?.status == 'OCENIONE'"
       class="task-details file-attachment">
    Przesłane pliki:
  </div>
  <button *ngIf="task?.taskStudent?.status == 'WYKONANE' || task?.taskStudent?.status == 'OCENIONE'" class="file-button">
    <div style="float: left">
      <mat-icon> attach_file</mat-icon>
    </div>
    <div class="file-name">
      {{task?.taskStudent?.filename}}
    </div>
  </button>
  <div *ngIf="task?.status=='WYKONANE' && checkDate(task)" class="task-option-container">
    <button mat-button class="button-delete-task" (click)="deleteTask()">Usuń pliki</button>
  </div>

  <div style="clear:both"></div>

  <mat-accordion *ngIf="task?.status=='OCENIONE'">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Komentarz nauczyciela
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="!editFlag">
        <div *ngIf="task?.taskStudent?.grade?.comment != null" class="task-description">
          {{task?.taskStudent?.grade?.comment}}
        </div>
        <div *ngIf="task?.taskStudent?.grade?.comment == null" class="task-description">
          Brak komentarza
        </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <div *ngIf="!editFlag" style="text-align: center; margin-top: 85px">
    <button class="button-solutions" mat-button
            routerLink="/lekcja/{{this.task?.task?.lesson?.id}}/zadanie/{{task?.task?.id}}/rozwiązania">
      Rozwiązania
    </button>
    <button (click)="switchEdit()" class="button-edit" mat-button>Edytuj</button>
    <button (click)="delete()" class="button-delete-task" mat-button>Usuń</button>
  </div>
  <div *ngIf="editFlag" style="text-align: center; margin-top: 85px">
    <button (click)="edit()" class="button-edit" mat-button>Zapisz</button>
    <button (click)="switchEdit()" class="button-delete-task" mat-button>Anuluj</button>
  </div>

</div>
