<div class="header-container row">
  <div class="course-name col-md-4">FIZYKA</div>
  <div class="lesson-number col-md-3">Lekcja 79</div>
  <div class="buttons-container col-md-5">
    <button class="button-option" mat-button routerLink="/lekcja/1/test/">
      <div class="option-name">Test</div>
      <div class="icon-container">
        <mat-icon>school</mat-icon>
      </div>
    </button>
    <button class="button-option" mat-button routerLink="/lekcja/1/materiały">
      <div class="option-name">Materiały</div>
      <div class="icon-container">
        <mat-icon>perm_media</mat-icon>
      </div>
    </button>
    <button class="button-option button-option-tasks" mat-button routerLink="/lekcja/1/zadania">
      <div class="option-name">Zadania</div>
      <div class="icon-container">
        <mat-icon>library_books</mat-icon>
      </div>
    </button>
  </div>
</div>

<div class="task-container">
  <p class="task-name">Zadanie 1</p>
  <div class="task-details">
    Status zadania: Wykonane
  </div>
  <div class="task-details">
    Termin oddania: 22.09.2023
  </div>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Treść zadania
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="task-description">Opis zadania Opis zadania Opis zadania Opis zadania Opis zadania Opis zadania Opis
        zadania Opis zadania
        Opis zadania Opis zadania Opis zadania
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="task-details file-attachment">
    Przesłane pliki:
  </div>
  <div style="float: left">
    <mat-icon> attach_file</mat-icon>
  </div>
  <div class="file-name">
    nazwaRozwiazania.txt
  </div>
  <div class="task-option-container">
    <button mat-button class="button-edit-task">Edytuj</button>
    <button mat-button class="button-delete-task">Usuń</button>
  </div>
</div>
