<div class="header-container row">
  <div class="course-name col-md-4">FIZYKA</div>
  <div class="lesson-number col-md-3">Lekcja 79</div>
  <div class="buttons-container col-md-5">
    <button class="button-option" mat-button routerLink="/lekcja/1/test/">
      <div class="option-name">Test</div>
      <div class="icon-container">
        <mat-icon>school</mat-icon>
      </div>
    </button>
    <button class="button-option" mat-button routerLink="/lekcja/1/materiały">
      <div class="option-name">Materiały</div>
      <div class="icon-container">
        <mat-icon>perm_media</mat-icon>
      </div>
    </button>
    <button class="button-option button-option-tasks" mat-button routerLink="/lekcja/1/zadania">
      <div class="option-name">Zadania</div>
      <div class="icon-container">
        <mat-icon>library_books</mat-icon>
      </div>
    </button>
  </div>
</div>

<div class="task-container">
  <p class="task-name">Zadanie 1</p>
  <div class="task-details">
    Status zadania: Wykonane
  </div>
  <div class="task-details">
    Termin oddania: 22.09.2023
  </div>

  <mat-accordion>
<!--    <mat-expansion-panel hideToggle>-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title>-->
<!--          This is the expansion title-->
<!--        </mat-panel-title>-->
<!--        <mat-panel-description>-->
<!--          This is a summary of the content-->
<!--        </mat-panel-description>-->
<!--      </mat-expansion-panel-header>-->
<!--      <p>This is the primary content of the panel.</p>-->
<!--    </mat-expansion-panel>-->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Treść zadania
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Opis zadania Opis zadania Opis zadania Opis zadania Opis zadania Opis zadania Opis zadania Opis zadania
        Opis zadania Opis zadania Opis zadania  </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
