.header-container {
  margin-top: 0;
  margin-left: 50px;
  margin-right: 75px;
  height: 150px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.course-name {
  font-size: 45px;
  font-weight: bold;
  color: rgb(103, 58, 183);
}

.lesson-number {
  font-size: 45px;
  font-weight: bold;
  color: rgb(103, 58, 183);
  padding-left: 50px;
}


.button-option {
  background-color: rgb(103, 58, 183);
  color: white;
  width: 120px;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 20px;
  text-align: center;
  float: right;
}

.button-option:hover {
  background-color: rgb(72, 36, 134);

}

.button-option-material {
  background-color: rgb(72, 36, 134) !important;
}

.material-icons {
  font-size: 30px;
  height: 50px;
  width: 50px;
}

.option-name {
  padding-bottom: 5px;
  padding-top: 15px;
}

.material-container {
  background-color: rgb(103, 58, 183);
  color: white;
}

.mat-grid-tile {
  background-color: rgb(103, 58, 183);
  border-radius: 10px;
  /*width: 40% !important;*/

}

.materials-container {
  width: 75%;
  margin: auto;
}

.material-name {
  /*text-align: center;*/
  /*position: absolute;*/
  margin-bottom:60%;
  font-size: 30px;
  letter-spacing: 1.5px;
  font-family: Roboto;

}

.file-name {
  position: absolute;
  left: 40px;
  float: left;
  text-align: left;
  width: 50%;
  bottom: 40px;
  font-size: 23px;
}

.file-upload {
  float: left;
  width: 50%;
  text-align: right;
  position: absolute;
  right: 40px;
  bottom: 40px;
}



