.header-container {
  margin-top: 0;
  margin-left: 50px;
  margin-right: 75px;
  height: 150px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.course-name{
  font-size: 45px;
  font-weight: bold;
  color: rgb(103, 58, 183);
}

.lesson-number {
  font-size: 45px;
  font-weight: bold;
  color: rgb(103, 58, 183);
  padding-left: 50px;
}


.button-option {
  background-color: rgb(103, 58, 183);
  color: white;
  width: 120px;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 20px;
  text-align: center;
  float: right;
}
