<mat-grid-list class="header-container" cols="{{getHeaderAmountOfColumnsInGrid()}}"
               rowHeight="{{getHeaderRowHeightInGrid()}}">
  <button style="background-color: transparent; border: 0px">
    <mat-grid-tile class="course-name tile" [style.background-color]="'transparent'"
                   routerLink="/kursy/{{lesson?.course?.id}}">{{lesson?.course?.name}}</mat-grid-tile>
  </button>
  <mat-grid-tile class="lesson-number tile" [style.background-color]="'transparent'"></mat-grid-tile>
  <mat-grid-tile class="buttons-container tile" [style.background-color]="'transparent'">
    <button class="button-option" mat-button routerLink="/lekcja/{{lessonId}}/test-opis/">
      <div class="option-name">Test</div>
      <div class="icon-container">
        <mat-icon>school</mat-icon>
      </div>
    </button>
    <button class="button-option button-option-tasks" mat-button routerLink="/lekcja/{{lessonId}}/materiały">
      <div class="option-name">Materiały</div>
      <div class="icon-container">
        <mat-icon>perm_media</mat-icon>
      </div>
    </button>
    <button class="button-option" mat-button routerLink="/lekcja/{{lessonId}}/zadania">
      <div class="option-name">Zadania</div>
      <div class="icon-container">
        <mat-icon>library_books</mat-icon>
      </div>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<div class="materials-container">


  <div class="lessons-container">
    <mat-grid-list cols="3" rowHeight="2:1" [gutterSize]="'40px'">
      <mat-grid-tile *ngIf="sessionService.isTeacher() && !lesson?.course?.finished">
        <span>
        <button class="button-download add-button" mat-button routerLink="/lekcja/{{lessonId}}/dodaj-materiał">
          <div class="add-button-name">Dodaj nowy materiał</div>
          <div><mat-icon class="add-icon">add</mat-icon></div>
        </button>
        </span>
      </mat-grid-tile>
      <div>
        <div *ngFor="let material of materials; let i = index">
          <mat-grid-tile>
            <div>
              <div matTooltip="{{material.description}}" class="material-name">Materiał {{i + 1}}</div>
              <div class="icon-container">
                <button class="button-download" mat-button>
                  <div
                    class="option-name">{{material.filename.length > 11 ? material.filename.substring(0, 9) + '...' : material.filename}}</div>
                  <div class="icon-container" (click)="downloadMaterial(material)">
                    <mat-icon>cloud_download</mat-icon>
                  </div>
                </button>
                <!--                  <button *ngIf="sessionService.isTeacher()" mat-button class="button-delete">-->
                <mat-icon (click)="deleteMaterial(material.id)"
                          *ngIf="sessionService.isTeacher() && !lesson?.course?.finished" class="trash button-delete">delete_forever
                </mat-icon>
                <!--                  </button>-->

              </div>

            </div>
          </mat-grid-tile>
        </div>
      </div>
    </mat-grid-list>


  </div>
</div>
