.container {
  width: 60%;
  margin: 40px auto auto;
  padding: 30px 10%;
  background-color: white;
  text-align: center;
  min-height: 300px;
}

.user-container {
  text-align: left;
  margin-top: 50px;
}

h3 {
  float: left;
  width: 24%;
  margin-left: 5%;
  margin-bottom: 0;
  color: rgba(91, 91, 96, 0.85);
}


input {
  width: 40%;
  display: block;
  margin: auto 0px;
  height: 30px;
  border-radius: 5px;
  border-color: rgba(91, 91, 96, 0.85);
  border-top: 2px solid rgba(91, 91, 96, 0.85);
  border-left: 2px solid rgba(91, 91, 96, 0.85);
}

input:focus {
  outline: none !important;
  border: 2px solid rgba(103, 58, 183, 1);
}

.user-details {
  margin-bottom: 20px;
}
