<div class="container">


  <h1 style="color: dimgrey">Szczegóły konta użytkownika</h1>
  <div class="user-container">
    <form [formGroup]="formGroup">
      <div class="user-details">
        <h3 >Imię: </h3>
        <input *ngIf="edit" type="text" [value]="user.firstName" formControlName="firstName">
        <input *ngIf="!edit" type="text" [value]="user.firstName" disabled>
      </div>
      <div class="user-details">
        <h3>Nazwisko: </h3>
        <input *ngIf="edit" type="text" [value]="user.lastName" formControlName="lastName">
        <input *ngIf="!edit" type="text" [value]="user.lastName" disabled>
      </div>
      <div class="user-details">
        <h3 >Email: </h3>
        <input *ngIf="edit" type="text" [value]="user.email" formControlName="email">
        <input *ngIf="!edit" type="text" [value]="user.email" disabled>
      </div>
      <div class="user-details">
        <h3 >Rola: </h3>
        <input type="text" [value]="user.roles[0]" disabled>
      </div>
      <div *ngIf="!edit" class="user-details"></div>
      <div *ngIf="edit" class="user-details">
        <h3 >Hasło: </h3>
        <input type="password" formControlName="password">
      </div>

    </form>

  </div>

  <button  mat-button class="button-edit" (click)="switchEdit()" *ngIf="!edit">Edytuj</button>
  <button  mat-button class="button-activate" (click)="switchEdit()" *ngIf="!edit">Zablokuj</button>
  <button  mat-button class="button-back" (click)="cancelEdit()" *ngIf="edit">Anuluj</button>
  <button  mat-button class="button-edit" (click)="save()" *ngIf="edit">Zapisz</button>

</div>
