<!--<div *ngFor="let question of exam?.questions">-->
<!--  <h4>{{question.content}}</h4>-->
<!--  <div *ngIf="question.questionType == 'ONE_CHOICE'">-->
<!--    <mat-radio-group-->
<!--      class="exam-radio-group">-->
<!--      <mat-radio-button class="exam-radio-button" *ngFor="let answer of question.answers" [value]="answer.content">-->
<!--        {{answer.content}}-->
<!--      </mat-radio-button>-->
<!--    </mat-radio-group>-->
<!--  </div>-->

<!--  <div *ngIf="question.questionType == 'MULTI_CHOICE'">-->

<!--    <p *ngFor="let answer of question.answers">-->
<!--      <mat-checkbox>{{answer.content}}</mat-checkbox>-->
<!--    </p>-->
<!--  </div>-->
<!--</div>-->
<div class="question-container">
  <div *ngFor="let question of exam?.questions; let i = index" [formGroup]="examAnswers[i]" class="question">
    <h3><strong>Pytanie {{i + 1}}</strong></h3>
    <h4>{{question.content}}</h4>

    <div *ngIf="question.questionType == 'ONE_CHOICE'">
      <mat-radio-group class="exam-radio-group" formControlName="answers">
        <p *ngFor="let answer of question.answers">
          <mat-radio-button [value]="answer.id" class="exam-radio-button">
            {{answer.content}}
          </mat-radio-button>
        </p>
      </mat-radio-group>
    </div>

    <div *ngIf="question.questionType == 'MULTI_CHOICE'">
      <p *ngFor="let answer of question.answers; let y = index" formArrayName="answers">
        <mat-checkbox [formControlName]="y">{{answer.content}}</mat-checkbox>
      </p>
    </div>

    <div *ngIf="question.questionType == 'OPEN'">
    <textarea formControlName="answers">

    </textarea>
    </div>

    <p>{{examAnswers[i].value | json}}</p>
  </div>

  <button (click)="showConfirmation()" mat-button class="finish-test-button">Zakończ test</button>

</div>

<!--<div [formGroup]="exampleABCD">-->
<!--  <h4>Jaki jest wynik działania 2+2?</h4>-->
<!--  <p>-->
<!--    <mat-checkbox formControlName="answerA">3</mat-checkbox>-->
<!--  </p>-->
<!--  <p>-->
<!--    <mat-checkbox formControlName="answerB">4</mat-checkbox>-->
<!--  </p>-->
<!--  <p>-->
<!--    <mat-checkbox formControlName="answerC">5</mat-checkbox>-->
<!--  </p>-->
<!--  <p>-->
<!--    <mat-checkbox formControlName="answerD">0</mat-checkbox>-->
<!--  </p>-->
<!--  <p>{{exampleABCD.value | json}}</p>-->
<!--</div>-->
