.step-wrapper {
  width: 80%;
  margin: 20px 10%;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.save-teacher {
  background: rgba(103, 58, 183, 1);
  color: white;
  margin-right: 10px;
}

.save-teacher:hover {
  background-color: rgb(79, 14, 143);
}

.buttons {
  margin-top: 15px;
}
