<div class="step-wrapper">
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Imię użytkownika</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Imię</mat-label>
          <input matInput placeholder="" formControlName="name" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Dalej</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Nazwisko użytkownika</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Nazwisko</mat-label>
          <input matInput formControlName="surname" placeholder=""
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Wróć</button>
          <button mat-button matStepperNext>Dalej</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>E-mail użytkownika</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" placeholder=""
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Wróć</button>
          <button mat-button matStepperNext>Dalej</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Rola użytkownika</ng-template>
        <mat-radio-group formControlName="userRole">
          <mat-radio-button value="STUDENT">Student</mat-radio-button><br>
          <mat-radio-button value="TEACHER">Nauczyciel</mat-radio-button><br>
          <mat-radio-button value="ADMIN">Administrator</mat-radio-button><br>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Wróć</button>
          <button mat-button matStepperNext>Dalej</button>
        </div>
      </form>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Dodaj użytkownika</ng-template>
      <div class="buttons">
        <button mat-button class="save-teacher" (click)="addUser()">Zapisz</button>
        <button mat-button matStepperPrevious>Wróć</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>


<!--hasło będzie wysyłane na podany adres e-mail-->
