<div class="course-details">
  <div class="course-name-and-announcement">
    <div class="row g-0">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-3 course-name">{{courseDetails?.course?.name}}</div>
      <div class="col-sm-6">
        <span class="click-tile">
          <button *ngIf="sessionService.isTeacher()" class="button-option" mat-button
                  (click)="regenerateAccessCode()">
            <div class="option-name button-announcement">Kod: {{courseDetails?.course?.accessCode}}</div>
            <div class="icon-container">
              <mat-icon>⟲</mat-icon>
            </div>
          </button>
        </span>
        <span class="click-tile">
          <button class="button-option" mat-button routerLink="/kursy/{{courseDetails?.course?.id}}/ogloszenia">
            <div class="option-name button-announcement">Ogłoszenia</div>
            <div class="icon-container">
              <mat-icon>assignment_late</mat-icon>
            </div>
          </button>
        </span>
        <span class="click-tile">
          <button class="button-option" mat-button routerLink="/kursy/{{courseDetails?.course?.id}}/studenci">
            <div class="option-name button-announcement">Studenci</div>
            <div class="icon-container">
              <mat-icon>people</mat-icon>
            </div>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="lessons-container">
  <mat-grid-list cols="2" rowHeight="2.5:1">
    <mat-grid-tile *ngIf="sessionService.isTeacher()">
      <div>
        <div class="name-lesson" matTooltip="Dodaj nową lekcję" matTooltipPosition="above">Lekcja</div>
        <mat-card class="options-lesson">
          <mat-card-actions>
            <button class="button-option" mat-button disabled="true" >
              <div class="option-name"></div>
              <div class="icon-container">
              </div>
            </button>
            <button class="button-option" mat-button
                    routerLink="/kursy/{{courseDetails?.course?.id}}/dodaj-lekcję">
              <div class="option-name">Dodaj lekcję</div>
              <div class="icon-container">
                <mat-icon>add</mat-icon>
              </div>
            </button>
            <button class="button-option" mat-button  disabled="true">
              <div class="option-name"></div>
              <div class="icon-container">
              </div>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-grid-tile>

    <div *ngFor="let lesson of courseDetails?.lessons; let i = index">
      <mat-grid-tile>
        <div>
          <div class="name-lesson" matTooltip="{{lesson.name}}" matTooltipPosition="above">
            Lekcja {{lessonsSize - i}}</div>

          <mat-card class="options-lesson">
            <mat-card-actions>
              <button class="button-option" mat-button routerLink="/lekcja/{{lesson.id}}/zadania">
                <div class="option-name">Zadania</div>
                <div class="icon-container">
                  <mat-icon>library_books</mat-icon>
                </div>
              </button>
              <button class="button-option" mat-button routerLink="/lekcja/{{lesson.id}}/materiały">
                <div class="option-name">Materiały</div>
                <div class="icon-container">
                  <mat-icon>perm_media</mat-icon>
                </div>
              </button>
              <button class="button-option" mat-button routerLink="/lekcja/{{lesson.id}}/test-opis">
                <div class="option-name">Test</div>
                <div class="icon-container">
                  <mat-icon>school</mat-icon>
                </div>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-grid-tile>
    </div>

  </mat-grid-list>
</div>

