.lesson-container {
  /*width: 40%;*/
  /*margin: 20px 10%;*/
}

.lessons-container {
  width: 80%;
  margin: 20px 10%;
}

.course-name-container {
  width: 74.5%;
  /*margin: 20px 13%;*/
  margin: auto;
  background-color: rgb(103, 58, 183);
  color: white;
}

mat-expansion-panel-header {
  background-color: rgb(103, 58, 183) !important;
}

.name-lesson {
  border-radius: 5px 5px 0 0;
  background-color: rgb(103, 58, 183);
  color: white !important;
  text-align: center;
  font-size:large;
  font-weight:500;
  letter-spacing: 1px;
  padding-top: 15px;
}


.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: white;
}

.options-lesson {
  border-radius: 0 0 5px 5px;
  background-color: rgb(103, 58, 183);
  color: white !important;
}

.course-name {
  font-size: xx-large;
  color: white;
  height: 500px;
}


/deep/ .mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: white;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.mat-icon {
  color: white !important;
}

/deep/ .material-icons {
  font-size: 40px !important;
  height: 50px;
  width: 50px;
}

.icon-container {
  height: 80px;
  width: 150px;
  padding-top: 10px;
}

.option-name {
  padding-top: 50px;
  font-size: large;
}

.button-option {
  width: 150px;
  height: 100px;
  margin-bottom: 10px;
}

mat-grid-tile {
}


