.lessons-container {
  width: 80%;
  margin: 20px 10%;
}

.course-name-and-announcement {
  width: 74.5%;
  height: 200px;
  margin: auto;
  text-align: center;
}

.course-name-container {
  margin: auto;
  background-color: rgb(103, 58, 183);
  color: white;
}

mat-expansion-panel-header {
  background-color: rgb(103, 58, 183) !important;
}

.name-lesson {
  border-radius: 5px 5px 0 0;
  background-color: rgb(103, 58, 183);
  color: white !important;
  text-align: center;
  font-size:large;
  font-weight:500;
  letter-spacing: 1px;
  padding-top: 15px;
  height: 60px;
  margin-right: 10px;
  margin-left: 10px;
}


.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: white;
}

.options-lesson {
  border-radius: 0 0 5px 5px;
  background-color: rgb(103, 58, 183);
  color: white !important;
  margin-left: 10px;
  margin-right: 10px;
}

.course-name {
  font-size: 35px;
  color: rgb(103, 58, 183);
  height: 150px;
  line-height: 50px;
  padding-bottom: 50px;
}


/deep/ .mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: white;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.mat-icon {
  color: white !important;
}

/deep/ .material-icons {
  font-size: 30px !important;
  height: 50px;
  width: 50px;
}

.icon-container {
  height: 80px;
  width: 150px;
  padding-top: 10px;
}

.option-name {
  padding-top: 50px;
  font-size: large;
}

.button-announcement {
  padding-top: 20px !important;
}

.button-option {
  width: 150px;
  height: 112.5px;
  margin-bottom: 10px;
  background-color: rgb(103, 58, 183);
}

.name-lesson:hover + .description-lesson {
  display: block;
  background-color: rgb(103, 58, 183);
  color: white;
  text-align: center;
  font-size:large;
  font-weight:500;
  letter-spacing: 1px;
  padding-top: 15px;
}


.refresh-icon {
  text-align: center;
  font-size: 50px;
  color: white;
}

.refresh-icon:hover {
  cursor: pointer;
  color: #cec7c7;
}

.click-tile {
  margin-left: 5px;
  margin-right: 5px;
}

