<div class="course-details">
  <div class="course-name-and-announcement">
    <div class="row g-0">
      <div class="col-sm-3">
        <mat-card *ngIf="sessionService.isTeacher()" style="background-color: #5e239d; color: #efefef">
          <h1>Kod dostępu: {{courseDetails?.course?.accessCode}}</h1>
          <hr>
          <span>
            <h1 (click)="regenerateAccessCode()" class="refresh-icon">
               ⟲
            </h1>
          </span>
        </mat-card>
      </div>
      <div class="col-sm-3 course-name">{{courseDetails?.course?.name}}</div>
      <div class="col-sm-6">
        <span class="click-tile">
          <button *ngIf="sessionService.isTeacher()" class="button-option" mat-button
                  routerLink="/kursy/{{courseDetails?.course?.id}}/dodaj-lekcję">
            <div class="option-name button-announcement">Dodaj lekcję</div>
            <div class="icon-container">
              <mat-icon>add</mat-icon>
            </div>
          </button>
        </span>
        <span class="click-tile">
          <button class="button-option" mat-button routerLink="/kursy/{{courseDetails?.course?.id}}/ogloszenia">
            <div class="option-name button-announcement">Ogłoszenia</div>
            <div class="icon-container">
              <mat-icon>assignment_late</mat-icon>
            </div>
          </button>
        </span>
        <span class="click-tile">
          <button class="button-option" mat-button routerLink="/kursy/{{courseDetails?.course?.id}}/studenci">
            <div class="option-name button-announcement">Studenci</div>
            <div class="icon-container">
              <mat-icon>people</mat-icon>
            </div>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="lessons-container">
  <mat-grid-list cols="2" rowHeight="2.5:1">

    <div *ngFor="let lesson of courseDetails?.lessons; let i = index">
      <mat-grid-tile>
        <div>
          <div class="name-lesson" matTooltip="{{lesson.name}}" matTooltipPosition="above">Lekcja {{lessonsSize - i}}</div>

          <mat-card class="options-lesson">
            <mat-card-actions>
              <button class="button-option" mat-button routerLink="/lekcja/{{lesson.id}}/zadania">
                <div class="option-name">Zadania</div>
                <div class="icon-container">
                  <mat-icon>library_books</mat-icon>
                </div>
              </button>
              <button class="button-option" mat-button routerLink="/lekcja/{{lesson.id}}/materiały">
                <div class="option-name">Materiały</div>
                <div class="icon-container">
                  <mat-icon>perm_media</mat-icon>
                </div>
              </button>
              <button class="button-option" mat-button routerLink="/lekcja/{{lesson.id}}/test/">
                <div class="option-name">Test</div>
                <div class="icon-container">
                  <mat-icon>school</mat-icon>
                </div>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>


        <!--    <mat-card (click)="toggleClass($event, 'lesson-clicked', 'lesson')">-->
        <!--      <mat-card-content>-->
        <!--        <button mat-button routerLink="/lekcje/{{lesson.id}}">{{lesson.name}}</button>-->
        <!--      </mat-card-content>-->
        <!--      <mat-card-actions>-->
        <!--        <button mat-button>Zadania</button>-->
        <!--        <button mat-button>Materiały</button>-->
        <!--        <button mat-button>Test</button>-->
        <!--      </mat-card-actions>-->
        <!--    </mat-card>-->
      </mat-grid-tile>
    </div>

  </mat-grid-list>
</div>

