<div>
  <mat-toolbar class='nav' color="primary">
    <button mat-icon-button class="logoE" routerLink="/">
      <mat-icon class="e-letter" svgIcon="alphabetELetter" aria-hidden="false">
      </mat-icon>
      <span class="logo">-nauczanie</span>
    </button>
    <span class="example-spacer"></span>

    <span *ngIf="sessionService.isAdmin()">
      <button mat-button class="button-nav" routerLink="/uzytkownicy">
          Użytkownicy
      </button>
      <button mat-button class="button-nav" routerLink="/rejestracja">
        Rejestracja
      </button>
    </span>


    <span *ngIf="sessionService.isStudent() || sessionService.isTeacher()">
      <button mat-button class="button-nav" routerLink="/kursy">
        Kursy
      </button>
      <button mat-button class="button-nav" routerLink="/kalendarz">
        Kalendarz
      </button>
      <button mat-button class="button-nav" routerLink="/dziennik">
        Dziennik
      </button>
    </span>

    <span *ngIf="sessionService.isTeacher()">
      <button mat-button class="button-nav" routerLink="/dodaj-test">
        Utwórz test
      </button>
    </span>

    <button *ngIf="!sessionService.isLoggedUser()" mat-button class="login" routerLink="/login">
      Zaloguj się
    </button>
    <button *ngIf="sessionService.isLoggedUser()" mat-button class="login" (click)="sessionService.logout()">
      Wyloguj się
    </button>
  </mat-toolbar>

  <div class="bottom-nav">
    Kursy
  </div>
</div>
