<div class="row g-0">
  <div class="col-md-6">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>
  </div>
  <div class="col-md-6 new-event" >
    <h1>Nowe wydarzenie</h1>
    <form class="event-container" [formGroup]="eventGroup">
      <br>
      <h3 class="text">Nazwa wydarzenia: </h3>
      <textarea formControlName="name" required></textarea>
      <br>
      <h3 class="text">Godzina: </h3>
      <mat-form-field appearance="outline">
        <mat-label>Godzina</mat-label>
        <input type="time" name="week" min="00:00" max="23:59" matInput formControlName="time" required/>
      </mat-form-field>
      <br>
      <br><br>
      <div>
        <button mat-button class="create-button" (click)="createEvent()">Stwórz wydarzenie</button>
      </div>
    </form>
  </div>
</div>
