.demo-inline-calendar-card {
  width: 450px;
  margin-left: 200px;
}

div.row {
  margin-top: 45px;
}


.event-container {
  align-self: center;
  /*margin: 0 20%;*/
}

input {
  width: 40%;
  display: block;
  margin: auto 0;
  height: 30px;
  border-radius: 5px;
  border-color: rgba(91, 91, 96, 0.85);
  border-top: 2px solid rgba(91, 91, 96, 0.85);
  border-left: 2px solid rgba(91, 91, 96, 0.85);
}

input:focus {
  outline: none !important;
  border: 2px solid rgba(103, 58, 183, 1);
}

textarea {
  width: 47%;
  display: block;
  margin-bottom: 20px;
  height: 56px;
  border-radius: 5px;
  border-color: rgba(91, 91, 96, 0.85);
}

textarea:hover {
  border-color: #000;
}

textarea:focus {
  outline: none !important;
  border: 2px solid rgba(103, 58, 183, 1);
}


.create-button {
  /*background-color: #ffd740;*/
  background-color: #e3bf32;
  display: block;
  /*margin-left: 29%;*/
  margin: auto;
  color: white;
  text-align: center;
}

.text {
  margin-left: 5%;
  color: rgba(91, 91, 96, 0.85);
  box-sizing: border-box;
}

h3 {
  float: left;
  width: 24%;
}

h1 {
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 5%;
  color:  rgba(103, 58, 183, 1);
  font-weight: normal;
  font-size: xx-large;
  text-align: center;
}

mat-form-field {
  margin-bottom: 0;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: rgba(91, 91, 96, 0.85);
}

.new-event {
  width: 450px;
  margin-right: 200px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


