<div class="row g-0">
  <div class="col-md-6">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>
  </div>
  <div class="col-md-6">
    <form class="event-container">
      <br>
      <h3 class="text">Nazwa wydarzenia: </h3>
      <input type="textarea" formControlName="name" required>
      <br>
      <h3 class="text">Godzina: </h3>
      <mat-form-field formControlName="hour" appearance="outline">
        <mat-label>Godzina</mat-label>
        <input type="time" matInput name="week" min="09:00" max="18:00"/>
      </mat-form-field>
      <br>
      <br><br>
      <div>
        <button mat-button class="create-button" (click)="createEvent()">Stwórz wydarzenie</button>
      </div>
    </form>
  </div>
</div>



