<div class="gradebook-container" *ngIf="dataSourceSummary && dataSourceSummary.length > 0">
  <div class="gradebook-header">OCENY: <span style="margin-left: 4%">{{courseName}}</span></div>

  <table *ngIf="sessionService.isStudent()" mat-table
         [dataSource]="dataSourceSummary[0].grades" multiTemplateDataRows
         class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Opis</th>
      <td mat-cell *matCellDef="let element"> {{element['name']}} </td>
    </ng-container>
    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef> Ocena</th>
      <td mat-cell *matCellDef="let element"> {{element['grade']}} </td>
    </ng-container>
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand1.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <div class="example-element-description">
            {{element.description}}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand1"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand1;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>


  <table *ngIf="sessionService.isTeacher()" mat-table
         [dataSource]="dataSourceSummary" multiTemplateDataRows
         class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Imię i nazwisko</th>
      <td mat-cell *matCellDef="let element"> {{element['studentName']}} {{element['studentSurname']}} </td>
    </ng-container>
    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef> Średnia ocen</th>
      <td mat-cell *matCellDef="let element"> {{element['avg'] | number : '1.2'}} </td>
    </ng-container>
    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button class="button-edit"
                routerLink="/dodaj-ocene/{{courseName}}/{{courseId}}/{{element['studentId']}}">
          {{element['add']}}</button>
      </td>
    </ng-container>


    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand1.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <div class="example-element-description">

            <table mat-table
                   [dataSource]="getDataSourceForGrades(element)" multiTemplateDataRows
                   class="mat-elevation-z8">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Opis</th>
                <td mat-cell *matCellDef="let element1"> {{element1['name']}} </td>
              </ng-container>
              <ng-container matColumnDef="grade">
                <th mat-header-cell *matHeaderCellDef> Ocena</th>
                <td mat-cell *matCellDef="let element1"> {{element1['grade']}} </td>
              </ng-container>
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element1">
                  <button class="button-edit" (click)="edit(element1); $event.stopPropagation();">{{element1['edit']}}</button>
                </td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <button class="button-delete"
                          (click)="edit(element); $event.stopPropagation();">{{element['delete']}}</button>
                </td>
              </ng-container>
              <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button aria-label="expand row"
                          (click)="(expandedElementChild = expandedElementChild === element ? null : element); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedElementChild !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElementChild === element">keyboard_arrow_up</mat-icon>
                  </button>
                </td>
              </ng-container>

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand2.length">
                  <div class="example-element-detail"
                       [@detailExpand]="element == expandedElementChild ? 'expanded' : 'collapsed'">

                    <div class="example-element-description">
                      {{element.description}}
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand2"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand2;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElementChild === element"
                  (click)="expandedElementChild = expandedElementChild === element ? null : element">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>


          </div>
        </div>
      </td>
    </ng-container>





    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand1"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand1;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>


</div>


