<div class="container">
  <div>
    <form class="test-container" *ngIf="!materialInformation" [formGroup]="examGroup">
      <h1 class="header">NOWY MATERIAŁ</h1>
      <br>
        <div class="file-upload">

          <input type="file" class="file-input"
                 (change)="onFileSelected($event)" #fileUpload>

          {{fileName || ""}}

          <button mat-mini-fab color="primary" class="upload-btn"
                  (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>

          <h3 class="text" style="margin-top: 20px">Przeciągnij i upuść plik tutaj</h3>
        </div>
      <br>
      <br><br>
      <div>
        <button mat-button class="create-button" (click)="addMaterial()">Dodaj materiał</button>
      </div>
    </form>
  </div>
</div>
