.announcements-container {
  width: 80%;
  margin: auto;
}

.announcement-header {
  font-size: 45px;
  color: rgb(103, 58, 183);
  margin-top: auto;
  line-height: 50px;
  padding-bottom: 50px;
}

.announcement-container {
  background-color: rgb(103, 58, 183);
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  line-height: 1.5;
}
