<div class="announcements-container">
  <div class="row g-0">
    <div class="announcement-header col-md-10">OGŁOSZENIA: <span style="margin-left: 4%">{{course?.course?.name}}</span>
    </div>
    <div class="col-md-2">
      <button *ngIf="sessionService.isTeacher()" class="button-option" mat-button
              routerLink="/kursy/{{course?.course?.id}}/dodaj-ogloszenie"
              style="float: right">
        <div class="option-name button-announcement">Dodaj ogłoszenie</div>
        <div class="icon-container">
          <mat-icon>add</mat-icon>
        </div>
      </button>
    </div>
  </div>
  <div class="announcement-container">
    <div *ngIf="course && course.announcements && course.announcements.length == 0">
      Brak ogłoszeń.
    </div>

    <div *ngFor="let announcement of course?.announcements">
      <span class="row">
      <h1 class="col-md-6">{{announcement.name}}</h1>
      <h1 class="col-md-5"></h1>
      <h1 class="col-md-1">{{announcement.date}}</h1>
      </span>
      <div> {{announcement.description}}
      </div>
    </div>
  </div>
</div>
