<div class="row g-0">
  <div class="col-md-1">
    <button mat-button class="create-button add-event-button button-nav"
            routerLink="/dodaj-wydarzenie/{{selectedDateAsString()}}" (click)="addEvent()">Dodaj wydarzenie</button>
  </div>
  <div class="col-md-5">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [dateClass]="getDateClass" [(selected)]="selected"></mat-calendar>
    </mat-card>
  </div>
  <div class="col-md-6">
    <div class="event-list" *ngFor="let event of showEvents()">
      <div class="event-elements">
        {{event.hour}}.{{event.minutes}} - {{event.description}}
      </div>
    </div>
  </div>
</div>






