.demo-inline-calendar-card {
  width: 450px;
  margin-top: 50px;
  margin-left: 200px;
  display: inline-block;
}

::ng-deep.event-on-calendar {
  /*background-color: red !important;*/

  border-radius: 50%;
  border: 1px solid rebeccapurple !important;
  box-sizing: border-box;
}

.event-list {
  display: inline-block;
  margin-left: 100px;
  font-size: x-large;
}

/*.event-elements {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/
